@model MvcMovie.Models.OrderDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Mobile" class="control-label"></label>
                <input asp-for="Customer.Mobile" class="form-control" />
                <span asp-validation-for="Customer.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <textarea asp-for="Customer.Address" class="form-control"></textarea>
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            @for (int i = 0; i < 1; i++)
            {
                <div class="form-group">
                    <label asp-for="OrderItems.ElementAt(i).ProductId" class="control-label"></label>
                    <select asp-for="OrderItems.ElementAt(i).ProductId" asp-items="Model.Products" class="form-control">
                        <option></option>
                    </select>
                    <span asp-validation-for="OrderItems.ElementAt(i).ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderItems.ElementAt(i).Quantity" class="control-label"></label>
                    <input asp-for="OrderItems.ElementAt(i).Quantity" class="form-control" />
                    <span asp-validation-for="OrderItems.ElementAt(i).Quantity" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderItems.ElementAt(i).Price" class="control-label"></label>
                    <input asp-for="OrderItems.ElementAt(i).Price" class="form-control" />
                    <span asp-validation-for="OrderItems.ElementAt(i).Price" class=" text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}